.stopSellingSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

.statusInfo {
  display: flex;
  flex-direction: column;
  /* gap: 0.2rem; */
}

.statusInfo span {
  padding: 5px 0px; 
}

.statusIndicator {
  /* font-weight: bold; */
  color: #28a745;
  font-size: 0.9rem;
  text-align: left;
  /* padding: 10px 0px; */
}

.statusMessage {
  font-weight: bold;
  /* color: #666; */
  font-size: 0.9rem;
  /* text-align: left; */
  /* padding: 5px 0px; */
  color: var(--text-secondary);
}

.statusInfo .statusQuantity {
  text-align: left;
  font-weight: 700;
  font-size: 1.5rem;
  /* padding: 0px; */
  color: var(--text-primary); /* 진한 색상 */ 
}

.actionGroup {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
}

.actionBtn {
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

/* .actionBtn:hover {
  background-color: #0056b3;
} */
.stopBtn {
  background-color: #dc3545;
  background-color: var(--app-alert);
}

.stopBtn:hover {
  background-color: #6a0d16;
}





@media (max-width: 600px) {
  .statusMessage {
    display: none;
  }
  .stopSellingSection {
    flex-direction: column; 
    align-items: flex-start;
    gap: 1.5rem;
  }

  .actionGroup {
    width: 100%;
    align-items: center;
  }
  .actionGroup button {
    width: 100%;
  } 
}