.cafeteria-name {
  /* text-align: left; */
  font-size: 1.5rem;
  font-weight: 700;
  color:  #333333;
}

.date-text {
  /* text-align: left; */
  color: rgb(178 178 178);
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 0px;
}