.nav {
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav-bar{
    list-style: none;
    display: flex;
    background-color: #5090ff;
    justify-content: space-around;
}
.nav-bar li {
    flex-shrink: 0;
}
.nav-bar li a{
    color: white;
    padding: 15px 25px;
}

.nav-bar .current a{
    color:black;
}
.Maintext{
    text-align: center;
}