* {
    text-align: center;
}
h2 {
    margin: 0;
}
ul{
    padding:  0;
    margin: 0;
}

a{
    display: inline-block;
    text-decoration: none;
    color: black;
}
body{
    margin: 0;
    font-size: 15px;
    background-color: #d9d9d9;
    background-color: #f6f6f6;
    background-color: #fcfcfc;
}

span {
    /*
    color: red;
    */
    display: inline-block;
    padding: 15px;
    font-weight: bold;
    white-space: nowrap;
}